@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	background: rgb(64,61,84);
	background: linear-gradient(90deg, rgba(64,61,84,1) 0%, rgba(205,200,228,1) 46%, rgba(80,180,201,1) 100%);
}

button {
	cursor: pointer;
}
